@import 'utils';
@import 'setup';
@import 'typography';

.viewport {
    height: 100vh;
    // margin-bottom: -200px;
    width: 100%;
    position: relative;
}

.content-section {
    background: #139a43;
    border: 3px solid #34cb96;
    border-radius: 4px;
    width: 50%;
    height: 50%;
    margin:25vh auto;
    box-shadow: 10px 16px 10px #108c3c;
    &__container1 {
        width: 50%;
        margin: 0 auto;
    }
    &__container2 {
        width: 50%;
        margin: 0 auto;
        display: none;
    }
    &__container3 {
        width: 50%;
        margin: 0 auto;
        display: none;
    }
}

.content-section__display {
        width: 90%;
        margin: 0 auto;
        display: none;
    &__img {
        width: 50%;
        max-width: 640px;
        max-height: 426px;
        border-radius: 4px;
        float: left;
    }
    &__text-box {
        float: left;
    }
}

.background {
    height: 300vh;
    overflow: hidden;
    // position: relative;
    background: #139a43;
    
    &__roster {
        position: absolute;
        top: -200px;
        &__icon {
            display: inline-block;
        }
    }
}

.icon {
    // float: left;
    @include iconSize();
}
