@import 'utils';
@import 'setup';
@import 'typography';

.viewport {
    height: 100vh;
    margin-bottom: -200px;
    position: absolute;
    width: 100%;
}

.content-section {
    background: #139a43;
    border: 3px solid #34cb96;
    border-radius: 4px;
    width: 50%;
    height: 25%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    box-shadow: 10px 16px 10px #108c3c;
    &__container1 {
        width: 50%;
        margin: 0 auto;
    }
    &__container2 {
        width: 50%;
        margin: 0 auto;
        display: none;
    }
    &__container3 {
        width: 50%;
        margin: 0 auto;
        display: none;
    }
}

.background {
    height: 300vh;
    overflow: hidden;
    position: relative;
    background: #139a43;
    
    &__roster {
        position: absolute;
        top: -200px;
        &__icon {
            display: inline-block;
        }
    }
}

.icon {
    // float: left;
    @include iconSize();
}
